.color\:neutral-0 {
  color: white; }

.background-color\:neutral-0 {
  background-color: white; }

.border-color\:neutral-0 {
  border-color: white; }

.color\:neutral-100 {
  color: #f9fafb; }

.background-color\:neutral-100 {
  background-color: #f9fafb; }

.border-color\:neutral-100 {
  border-color: #f9fafb; }

.color\:neutral-200 {
  color: #acb4c3; }

.background-color\:neutral-200 {
  background-color: #acb4c3; }

.border-color\:neutral-200 {
  border-color: #acb4c3; }

.color\:neutral-300 {
  color: #939dae; }

.background-color\:neutral-300 {
  background-color: #939dae; }

.border-color\:neutral-300 {
  border-color: #939dae; }

.color\:neutral-400 {
  color: #7d8697; }

.background-color\:neutral-400 {
  background-color: #7d8697; }

.border-color\:neutral-400 {
  border-color: #7d8697; }

.color\:neutral-500 {
  color: #6a7181; }

.background-color\:neutral-500 {
  background-color: #6a7181; }

.border-color\:neutral-500 {
  border-color: #6a7181; }

.color\:neutral-600 {
  color: #5c6370; }

.background-color\:neutral-600 {
  background-color: #5c6370; }

.border-color\:neutral-600 {
  border-color: #5c6370; }

.color\:neutral-700 {
  color: #555d6d; }

.background-color\:neutral-700 {
  background-color: #555d6d; }

.border-color\:neutral-700 {
  border-color: #555d6d; }

.color\:neutral-800 {
  color: #4a5364; }

.background-color\:neutral-800 {
  background-color: #4a5364; }

.border-color\:neutral-800 {
  border-color: #4a5364; }

.color\:neutral-900 {
  color: #3d4657; }

.background-color\:neutral-900 {
  background-color: #3d4657; }

.border-color\:neutral-900 {
  border-color: #3d4657; }

.color\:neutral-1000 {
  color: #1f242d; }

.background-color\:neutral-1000 {
  background-color: #1f242d; }

.border-color\:neutral-1000 {
  border-color: #1f242d; }

.color\:neutral {
  color: #6a7181; }

.background-color\:neutral {
  background-color: #6a7181; }

.border-color\:neutral {
  border-color: #6a7181; }
