.color\:primary-50 {
  color: #e1ebfe; }

.background-color\:primary-50 {
  background-color: #e1ebfe; }

.border-color\:primary-50 {
  border-color: #e1ebfe; }

.color\:primary-100 {
  color: #b6cdfb; }

.background-color\:primary-100 {
  background-color: #b6cdfb; }

.border-color\:primary-100 {
  border-color: #b6cdfb; }

.color\:primary-200 {
  color: #87adf7; }

.background-color\:primary-200 {
  background-color: #87adf7; }

.border-color\:primary-200 {
  border-color: #87adf7; }

.color\:primary-300 {
  color: #5589f1; }

.background-color\:primary-300 {
  background-color: #5589f1; }

.border-color\:primary-300 {
  border-color: #5589f1; }

.color\:primary-400 {
  color: #2d6deb; }

.background-color\:primary-400 {
  background-color: #2d6deb; }

.border-color\:primary-400 {
  border-color: #2d6deb; }

.color\:primary-500 {
  color: #1a5ee6; }

.background-color\:primary-500 {
  background-color: #1a5ee6; }

.border-color\:primary-500 {
  border-color: #1a5ee6; }

.color\:primary-600 {
  color: #1450c8; }

.background-color\:primary-600 {
  background-color: #1450c8; }

.border-color\:primary-600 {
  border-color: #1450c8; }

.color\:primary-700 {
  color: #0d3ea0; }

.background-color\:primary-700 {
  background-color: #0d3ea0; }

.border-color\:primary-700 {
  border-color: #0d3ea0; }

.color\:primary-800 {
  color: #082d78; }

.background-color\:primary-800 {
  background-color: #082d78; }

.border-color\:primary-800 {
  border-color: #082d78; }

.color\:primary-900 {
  color: #052057; }

.background-color\:primary-900 {
  background-color: #052057; }

.border-color\:primary-900 {
  border-color: #052057; }

.color\:primary {
  color: #1a5ee6; }

.background-color\:primary {
  background-color: #1a5ee6; }

.border-color\:primary {
  border-color: #1a5ee6; }
