

$border-radius: (
  0: 0px,
  100: 2px,
  200: 4px,
  300: 6px,
  400: 8px,
  500: 16px,
  600: 32px,
  700: 64px,
  800: 128px,
  900: 256px,
  1000: 512px,
);

@each $key, $value in $border-radius {
  .border-radius\:#{$key} {
    border-radius: #{$value};
  }
}

$border-width: (
  0: 0,
  100: 1,
  200: 2,
  300: 4,
  400: 8,
);

@each $key, $value in $border-width {
  .border-width\:#{$key} {
    border-width: #{$value};
  }
}

$border-styles: (
  none,
  hidden,
  dotted,
  dashed,
  solid,
  double,
  groove,
  ridge,
  inset,
  outset,
  initial,
  inherit,
);

@each $border-style in $border-styles {
  .border-style\:#{$border-style} {
    border-style: #{$border-style};
  }
}
