// neutral
$neutral: (
  0:   hsl(1, 0%, 100%),
  100: hsl(210, 17%, 98%),
  200: hsl(219, 16%, 72%),
  300: hsl(219, 14%, 63%),
  400: hsl(219, 11%, 54%),
  500: hsl(220, 10%, 46%),
  600: hsl(219, 10%, 40%),
  700: hsl(220, 12%, 38%),
  800: hsl(219, 15%, 34%),
  900: hsl(219, 18%, 29%),
  1000: hsl(219, 18%, 15%),
);


@each $key, $value in $neutral {
  .color\:neutral-#{$key} {
    color: $value;
  }

  .background-color\:neutral-#{$key} {
    background-color: $value;
  }

  .border-color\:neutral-#{$key} {
    border-color: $value;
  }    
}

.color\:neutral {
  color: map-get($map: $neutral, $key: 500);
}

.background-color\:neutral {
  background-color: map-get($map: $neutral, $key: 500);
}

.border-color\:neutral {
  border-color: map-get($map: $neutral, $key: 500);
}

// .color\:neutral\:hover {
//   color: map-get($map: $neutral, $key: 400);
// }

// .background-color\:neutral\:hover {
//   color: map-get($map: $neutral, $key: 400);
// }

// .border-color\:neutral\:hover {
//   color: map-get($map: $neutral, $key: 400);
// }

// .color\:neutral\:active {
//   color: map-get($map: $neutral, $key: 600);
// }

// .background-color\:neutral\:active {
//   color: map-get($map: $neutral, $key: 600);
// }

// .border-color\:neutral\:active {
//   color: map-get($map: $primary, $key: 600);
// }
