$warning: (
  100: hsl(57, 60%, 97%),
  200: hsl(57, 58%, 93%),
  300: hsl(57, 78%, 84%),
  400: hsl(57, 84%, 67%),
  500: hsl(57, 100%, 53%),
  600: hsl(57, 100%, 42%),
  700: hsl(57, 100%, 36%),
  800: hsl(57, 100%, 30%),
  900: hsl(57, 100%, 26%),
);

@each $key, $value in $warning {
  .color\:warning-#{$key} {
    color: $value;
  }

  .background-color\:warning-#{$key} {
    background-color: $value;
  }

  .border-color\:warning-#{$key} {
    border-color: $value;
  }    
}

.color\:warning {
  color: map-get($map: $warning, $key: 500);
}

.background-color\:warning {
  background-color: map-get($map: $warning, $key: 500);
}

.border-color\:warning {
  border-color: map-get($map: $warning, $key: 500);
}
